.row
  .col-md-9
    %h2 Browse
    %table.table
      %thead
        %tr
          %th Question
          %th City
          %th Answers
      %tbody
        - @questions.each do |question|
          %tr
            %td= link_to question.body, question
            %td= link_to question.city.name, question
            %td= link_to question.answers.count, question
  .col-md-3
    = render 'questions/form'
